<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JSPirates 004 &mdash; авторизация на сайте</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">JSPirates</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://passportjs.org">Passport</a></li>
            <li><a href="https://developers.facebook.com/docs/web/">Facebook for Web Developers</a>
            <li><a href="https://dev.twitter.com/docs/twitter-for-websites">Twitter for Websites</a>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if user %}
            <li><a href="/auth/logout">Выход</a></li>
          {% else %}
            {% if regMode %}
              <li><a href="/">Вход</a></li>
            {% else %}
              <li><a href="/register">Регистрация</a></li>
            {% endif %}
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      {% block content %}
        <!-- Main component for a primary marketing message or call to action -->
      {% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
